<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Início</title>
    </head>

    <body>
        <h1>
                Plataforma de terapia infantil - Painel do Terapeuta
        </h1>
        
        <header>
            <nav>
                <ul class="sidebar">
                    <li><a href="/">Início</a></li>
                    <li><a href="/pacientes">Pacientes</a></li>
                    <li><a href="/agenda">Agenda</a></li>
                    <li><a href="/relatorios">Relatórios</a></li>
                    <li><a href="/frequencia">Frequência</a></li>
                </ul>
            </nav>
        </header>

        
    </body>

</html>